# Ignore Python virtual environments
myenv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Coverage and testing
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
